env:
  CI: true
  RUBY_VERSION: 3.0.2
  FLICKR_API_KEY: ${{ secrets.FLICKR_API_KEY }}
  VISION_CREDENTIALS: secrets/google-vision.json
  VISION_CREDENTIALS_BASE_64: ${{ secrets.VISION_CREDENTIALS_BASE_64 }}

name: Generate today platane

on:
  schedule:
    - cron: "0 6 * * *"

jobs:
  test:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: develop

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}

      # - name: Setup tmate session (for debugging purpose)
      #   uses: mxschmitt/action-tmate@v2

      - name: Cache Gems
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Bundle install
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundler install --jobs 4 --retry 3

      - name: Set current date in ENV
        run: |
          echo "CURRENT_DATE=`date +%Y-%m-%d`" >> $GITHUB_ENV

      - name: Create json key for Google Vision API
        run: |
          bundle exec ruby bin/decode_google_vision_json_key.rb ${{ env.VISION_CREDENTIALS_BASE_64 }} > ./secrets/google-vision.json

      - name: Create today platane
        run: |
          bundle exec ruby bin/generate_platane_post.rb ${{ env.CURRENT_DATE }} disable_interactive

      - name: Clean build
        run: |
          rm -rf .bundle/
          git checkout Gemfile.lock

      - name: Create Pull request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Generate ${{ env.CURRENT_DATE }} platane
          branch: posts/${{ env.CURRENT_DATE }}
          delete-branch: true
          base: develop
          title: Generate ${{ env.CURRENT_DATE }} platane
